.something{
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    position: absolute;
}

.h11
{
    margin-left: 20px;
    color:red;
    position: relative;
}

.butt
{
    margin-left: 20px;
    position: relative;
    padding: 6px;
    margin-bottom: 12px;
    margin-bottom: 2px;
    color: blue;
}
